.game-list *::-webkit-scrollbar {
    width: 5px;
  }

.game-list {
    border-collapse: unset;
    border-radius: 20px;
    border: 4px solid @primary-color;
    font-family: cartoon-toy;
    font-size: 24px;
    overflow: hidden;
    padding: 0;
    width: 100%;
    background-color: @primary-color;
}

.game-list table {
    margin:0;
}
.game-list tbody {
    background-color: @dobble-white;
  }
  
.game-list-body tbody > tr:hover > td {
    background-color: ~"@{primary-color}91";
    text-shadow: -2px -1px 0 white;
  }

.game-list thead {
  height: 50px;
  }
.game-list thead * {    
    color:@secondary-color;
    border: 0px solid;
    text-shadow: -2px -1px 0px #00000094;   
  }


.game-list .glyphicon-lock {
    font-size: 15px;
} 
.game-list .glyphicon-sort {
    text-shadow: none;
    color:#8a58d0;
    margin:10px;
    font-size: 15px;
}
.game-list .glyphicon-sort:hover {
    color:white;
   
}

.game-list-head {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: @primary-color;
}
.game-list-body-div {
    overflow: scroll;
    max-height: 400px;
    
}
.access-modal-title {font-family: cartoon-toy;
  font-size: 32px;
  text-align: center;
}

.access-modal-submit{
  position: absolute;
  background-color: @primary-color;
  color: @dobble-white;
  display: block;
  left: 50%;
  transform: translate(-75px,0);
  bottom:25px;
  height:50px;
  width: 150px;
  border-radius: 10px;
  border-width: 0;
  font-family: cartoon-toy;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 45px;
}
  
  .access-modal-submit:hover {
    background-color: @primary-color-alt;
    color: @secondary-color;
  }
  
  .access-modal-input{
    border-color: @primary-color-alt;
    top:40%;
    border-radius: 5px;
    font-size: 18px;
    transform: translate(-50%, 0);
    left:50%;
    position: absolute;
    height: 50px;
    width: 200px;
    }
  .private-game-lock{
    color:gray;
  }
  
  

  
.access-modal > .modal-content {
    border-radius: 25px;
    width: 25%;
    aspect-ratio: 1.5;            
    margin: 10% auto;
   
}


.game-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.alert > * {
    margin: 5px;
}

